= form_for @menu do |f|
  -if @menu.errors.any?
    #error_explanation
      %h2= "#{pluralize(@menu.errors.count, "error")} prohibited this menu from being saved:"
      %ul
        - @menu.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date, class: :label
    .input
      = f.date_select :date, {}, class: :mini
      = f.select :time, %w(朝 昼 夕).each_with_index.to_a, {}, class: :mini
  
  .field
    = f.label :contents, class: :label
    .input
      = f.text_area :contents, rows: 8, cols: 30

  .actions
    = f.submit '保存', class: 'btn primary'
