.page-header
  %h1 献立表

= link_to '新しい献立', new_menu_path, class: 'btn primary'
%table.zebra-striped
  %thead
    %tr
      %th{width: 60}
      %th{width: 120} 日付
      %th 内容
  %tbody
    - @menus.each do |menu|
      %tr
        %td= link_to '見る', menu, class: 'btn info'
        %td= "#{l(menu.date, format: :short)} 【#{menu.when}】"
        %td= menu.contents

