= form_for [:admin, @daily_menu], :html => { :class => 'form-horizontal' } do |f|
  - if @daily_menu.errors.any?
    .alert.alert-block.fade.in.alert-error
      %h4 エラー
      %ul
        - @daily_menu.errors.full_messages.each do |msg|
          %li= msg

  %div{class: "control-group #{'error' unless @daily_menu.errors[:date].blank?}"}
    = f.label :date, :class => 'control-label'
    .controls
      = f.date_select :date, {}, :class => 'date_select span1'
  .control-group
    = f.label :breakfast, :class => 'control-label'
    .controls
      = f.text_area :breakfast, :class => 'text_area', rows: 8, style: 'width: 80%'
  .control-group
    = f.label :lunch, :class => 'control-label'
    .controls
      = f.text_area :lunch, :class => 'text_area', rows: 8, style: 'width: 80%'
  .control-group
    = f.label :dinner, :class => 'control-label'
    .controls
      = f.text_area :dinner, :class => 'text_area', rows: 8, style: 'width: 80%'
  .control-group
    = f.label :footer, :class => 'control-label'
    .controls
      = f.text_area :footer, :class => 'text_area', rows: 12, style: 'width: 80%'

  .form-actions
    = f.submit '保存して新規作成', name: :to_new, :class => 'btn btn-primary'
    = f.submit '保存のみ', name: :save, :class => 'btn btn-success'
    = f.submit '保存して終了', name: :to_index, :class => 'btn btn-danger'
    = link_to 'キャンセル', admin_daily_menus_path, :class => 'btn'
