.page-header
  %h1 献立一覧
= link_to '献立を追加', new_admin_daily_menu_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th 操作
      %th 日付
      %th 朝食
      %th 昼食
      %th 夕食
      %th フッター
  %tbody
    - @daily_menus.each do |daily_menu|
      %tr
        %td
          = link_to '削除', admin_daily_menu_path(daily_menu), :method => :delete, :data => { :confirm => '削除してよろしいですか？' }, :class => 'btn btn-mini btn-danger'
          = link_to '編集', edit_admin_daily_menu_path(daily_menu), :class => 'btn btn-mini btn-success'
        %td= daily_menu.date
        %td= truncate daily_menu.breakfast, length: 10
        %td= truncate daily_menu.lunch, length: 10
        %td= truncate daily_menu.dinner, length: 10
        %td= truncate daily_menu.footer, length: 10

= paginate @daily_menus
