- if menu
  %ul.ul-listview{data: {role: :listview, inset: :true}}
    - if date_str
      %li{data:{role: 'list-divider'}}
        %h2
          -#= "今日(#{l Date.today, format: :very_short})"
          = date_str
          のメニュー
    %li{data: {role: 'list-divider'}} 朝食
    - menu.breakfast.each_line do |i|
      %li= i
    %li{data: {role: 'list-divider'}} 昼食
    - menu.lunch.each_line do |i|
      %li= i
    %li{data: {role: 'list-divider'}} 夕食
    - menu.dinner.each_line do |i|
      %li= i
- else
  %h3 献立データが登録されていません。

