.page-header
  %h1 登録ユーザ一覧

= link_to 'ユーザを追加', new_admin_user_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th 操作
      %th 有効
      %th メールアドレス
      %th 追加日
  %tbody
    - @users.each do |user|
      %tr
        %td
          = link_to '削除', admin_user_path(user), :method => :delete, :data => { :confirm => '削除してよろしいですか？' }, :class => 'btn btn-mini btn-danger'
          = link_to '編集', edit_admin_user_path(user), :class => 'btn btn-mini btn-success'
        %td
          %i{class: "icon-#{user.active ? 'ok' : 'remove'}"}
        %td= user.email
        %td=l user.created_at
= paginate @users

