!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title
      = @title ? "#{@title} | Ryo-Lunch" : "Ryo-Lunch"
    = stylesheet_link_tag "smart-phone/application", media: :all
    %link{rel: 'alternate', type: 'application/atom+xml', href: daily_menus_path(format: :atom)}
    = csrf_meta_tags
  %body
    %div{data: {role: :page}}
      %div{data: {role: :header}}
        %h1= image_tag 'n_logo.png', width: '120px'
      %div{data: {role: :content}}
        = yield
      %div{data: {role: :footer}}
        %p
          Ryo-Lunchについてのお問い合わせは
          = mail_to APP_CONFIG['support-mail'],
            'こちら', encode: :hex
          から
        %p
          (C) 2012 長野高専 寮生会 食堂委員会
          %br
          Powered by
          = link_to "情報技術研究部", "http://jo-ken.info"
        %p
          Source code is on
          =link_to "Github", "http://github.com/falcon8823/Ryo-Lunch"
    = javascript_include_tag "smart-phone/application"
