!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Ryo-Lunch
    = stylesheet_link_tag "normal/application", media: :all
    = csrf_meta_tags
  %body
    %header
      .navbar
        .navbar-inner
          .container
            %a.btn.btn-navbar{data: {toggle: :collapse, target: '.nav-collapse'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{href: root_path} Ryo-Lunch
            .nav-collapse
              %ul.nav
                %li= link_to "今日の献立", DailyMenu.today
                %li= link_to "献立表", daily_menus_path
    -if notice
      .alert-message.alert-info.hide
        %h4= notice
    -if alert
      .alert-message.alert-warning.hide
        %h4= alert
    -if danger = flash[:danger]
      .alert-message.alert-danger.hide
        %h4= danger

    .container
      .contents
        = yield

    %footer
      .container.well
        .row
          .span4.credit
            %h2= link_to "Ryo-Lunch", root_path
            %p 寮食堂の献立配信サービス
            %p
              Ryo-Lunchについてのお問い合わせは
              = mail_to APP_CONFIG['support-mail'], 'こちら',
                encode: :javascript
              から

            %p
              Source code is on 
              = link_to "GitHub", "https://github.com/falcon8823/Ryo-Lunch"
              %br
              Powered by
              = link_to 'Ruby', 'http://www.ruby-lang.org/ja/'
              on&nbsp;
              -#= link_to 'Rails', #://rubyonrails.org/'
              %a{href: 'http://rubyonrails.org/'}> Rails
              ,
              %br
              = link_to "さくらのVPS", "http://vps.sakura.ad.jp/"
              and
              = link_to "情報技術研究部", "http://jo-ken.info/"
              %br
              (C) 2012 長野高専 寮生会 食堂委員会.
          .span4
            %h3 リンク
            %ul
              %li= link_to "長野高専", "http://www.nagano-nct.ac.jp/"
              %li= link_to "長野高専 学生寮", "http://nagano-nct-ryo.jimdo.com/"
              %li= link_to "情報技術研究部", "http://jo-ken.info/"
          .span4
            %p 
    = javascript_include_tag "normal/application"
